<form>

  <!-- Cover Art -->
  <div class="row">
    <div class="col s6 m2 thumbnail">
      <div class="border">
        <div class="img-container" ngf-background="cover_file"></div>
        <img ng-src="{{$root.img_url + album.thumb}}"
             ng-if="album.thumb && !cover_file"/>
        <img src="/static/images/placeholder_album.jpg"
             ng-if="!album.thumb && !cover_file">
      </div>
    </div>
    <div class="file-field input-field col s12 m10"
         ngf-select="select_file($files)">
      <div class="waves-effect waves-light btn">
        <i class="material-icons left">image</i>
        Select Image
      </div>
      <div class="file-path-wrapper">
        <input disabled class="file-path validate" type="text"
               ng-value="cover_file.name">
      </div>
    </div>
  </div>

  <!-- Album Title -->
  <div class="input-field col s12">
    <input id="album_name" ng-model="album.title" type="text">
    <label for="album_name">Album Title</label>
  </div>

  <!-- Artist Name -->
  <div class="input-field col s12">
    <input id="artist_name" ng-model="album.artist" type="text">
    <label for="artist_name">Artist Name</label>
  </div>

  <!-- Release Date -->
  <div class="input-field col s12">
    <input input-date type="text" id="album_released"
           ng-model="album.release_date" format="yyyy-mm-dd"/>
    <label for="album_released">
      Release Date
    </label>
  </div>

  <!-- Record Label -->
  <div class="input-field col s12 m6">
    <input id="label_name" ng-model="album.label" type="text">
    <label for="label_name">Record Label (optional)</label>
  </div>

  <!-- Country -->
  <div class="input-field col s12 m6">
    <input id="country" ng-model="album.country" type="text">
    <label for="country">Country (optional)</label>
  </div>

  <!-- asin -->
  <!--div class="input-field col s12 m6">
    <input id="asin" ng-model="album.asin" type="text">
    <label for="asin">ASIN (optional)</label>
  </div-->

  <!-- mbid -->
  <!--div class="input-field col s12 m6">
    <input id="mbid" ng-model="album.mbid" type="text">
    <label for="mbid">MusicBrainz ID (optional)</label>
  </div-->

  <!-- mbrgid -->
  <div class="input-field col s12">
    <input id="album_mbrgid" ng-model="album.mbrgid" type="text">
    <label for="album_mbrgid">Album Title</label>
  </div>

</form>
