<form>
  <div class="row">
    <!-- Avatar Art -->
    <div class="col s6 m2 thumbnail avatar">
      <div class="border" ng-style="{background: profile.color}">
        <div class="img-container" ngf-background="avatar_file"></div>
        <img ng-src="{{$root.img_url + profile.thumb}}"
             ng-if="profile.thumb && !avatar_file"/>
        <img src="/static/images/placeholder_logger.jpg"
             ng-if="!profile.thumb && !avatar_file">
      </div>
    </div>
    <div class="col s12 m10">
      <div class="file-field input-field"
           ngf-select="select_file($files)">
        <div class="waves-effect waves-light btn">
          <i class="material-icons left">image</i>
          Select Image
        </div>
        <div class="file-path-wrapper">
          <input disabled class="file-path validate" type="text"
                 ng-value="avatar_file.name">
        </div>
      </div>
      <div class="row">
        <!-- Username -->
        <div class="input-field col s6">
          <input id="user_username" ng-model="profile.username" type="text">
          <label for="user_username">Username</label>
        </div>


        <!-- Color -->
        <div class="input-field col s6">
          <input id="user_color" ng-model="profile.color" type="text">
          <label for="user_color">Color (#000000)</label>
        </div>
      </div>

      <!-- Bio -->
      <div class="input-field">
        <textarea id="textarea" ng-model="profile.bio"
                  class="materialize-textarea"></textarea>
        <label for="textarea">Bio</label>
      </div>
    </div>
  </div>
</form>
