<head>
  <link href="/static/lib/reset-css/reset.css" rel="stylesheet">
  <link href="/static/lib/materialize/dist/css/materialize.min.css" rel="stylesheet">

  <link href="/static/css/style.css" rel="stylesheet">

  <script src="static/lib/jquery/dist/jquery.min.js"></script>
  <script src="static/lib/materialize/dist/js/materialize.min.js"></script>
</head>
<body style="background: #fe9ca1;">
  {% include "_messages.html" %}
  <nav>
    <div class="nav-wrapper container highlight-color">
      <a class="brand-logo" href="/">
        Muzlog
      </a>
    </div>
  </nav>
