<head>
  <script type="text/javascript" src="/static/js/base.js"></script>
  <script type="text/javascript" src="/static/js/angular.js"></script>
  <script type="text/javascript" src="/static/js/cms.js"></script>

  <base href="/cms">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

</head>
<body ng-app="muzApp" ng-controller="RootController">
  {% include "_messages.html" %}
  <div ng-include="'/static/partials/nav.html'"></div>
