{% include "_head.html" %}
<body>
  {% include "_messages.html" %}
  {% include "_nav.html"%}
  {% from "_macros.html" import render_field_with_errors, render_field %}
  <div class="container">
    <div class="row">
      {% for log in logs %}
      <a class="col s6 m4 xl2" href="/album/{{log.album.id}}">
        <div class="album-preview" >
          {% if log.album.thumb %}
          {% if config.DEBUG %}
          <img class="cover" src="http://127.0.0.1/muzlogcovers/{{log.album.thumb}}"/>
          {% else %}
          <img class="cover" src="/muzlogcovers/{{log.album.thumb}}"/>
          {% endif %}
          {% else %}
          <img class="cover placeholder" src="/static/images/placeholder_album.jpg"/>
          {% endif %}
          <div class="title">
            <span>{{ log.album.title }}</span></br> {{ log.album.artist }}
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</body>
