<div class="container">
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red" ui-sref="create_album">
      <i class="large material-icons">add</i>
    </a>
  </div>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Year</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="album in albums">
        <td>{{album.title}}</td>
        <td>{{album.artist}}</td>
        <td>{{album.release_year}}</td>
        <td>
          <a class="btn" ui-sref="log_album({id: album.id})">
            Edit
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
