<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="fixed-action-btn">
        <a class="btn-floating btn-large red" ui-sref="create_album">
          <i class="large material-icons">add</i>
        </a>
      </div>

      <table>
        <thead>
          <tr>
            <th>Status</th>
            <th>Release</th>
            <th>Publish Date</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="album in albums">
            <td>
              <i class="material-icons right" ng-if="album.published">
                play_arrow</i>
              <i class="material-icons right" ng-if="!album.published">
                pause</i>
            </td>
            <td>{{album.title}} by {{album.artist}} ({{album.release_year}})</td>
            <td>{{album.published_date | date: medium}}</td>
            <td>
              <a class="btn" ui-sref="create_log({id: album.id})">
                <i class="material-icons ">edit</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
