.card {
    margin: 1rem 0 1rem 0;
}
table {
    th {
        font-weight: 600;
    }
}
.album-creator {
    form {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .album-summary {
        margin-top: 30px;
        margin-right: 20px;
        margin-left: 20px;
    }
}
.album-summary {
    .summary {
        margin-bottom: 1rem;
        p { margin-right: 3rem; }

    }
}
.item-layout {
    .btn-floating {
        float:right;
        margin-left: 10px;
        position: absolute;
        top: 24px;
        right: 24px;
        transition: 0s;
        @media only screen and (min-width: 601px){
            position: relative;
            top: 0;
            right: 0;
        }
    }
    h3, h4 {
        @media only screen and (min-width: 601px){
            margin-top: 0;
        }
    }
    .row-like {
        margin-top: 1.168rem;
        margin-bottom: 20px;

        &:first-child {
            margin-top: 0;
        }
        .email {
            font-weight: 600;
            margin-right: 10px;
        }
    }
}
.input-field.col {
    min-height: 44px;
}

.role-editor {
    td {
        i {
            font-size: 25px;
        }
    }
}

.thumbnail {
    position: relative;
    >div {
        position: relative
    }
    .border {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: auto;
        padding-bottom: 100%;

        a {
            position: absolute;
            border-radius: 50%;
            z-index: 10;
            padding: 0;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            &:hover {
                background: white;
                opacity: 0.3;
            }
        }
    }
    img, .img-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: auto;
        background-size: cover;
        background-position: center;
    }
    img[alt].external:after {
        background-image: url("/static/images/album_placeholder.jpg");
        background-size: cover;
        background-color: #fff;
        max-height: 400px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-family: 'Helvetica';
        font-weight: 300;
        line-height: 2;
        text-align: center;
        content: attr(alt);
    }
}
.avatar {
    .border {
        border-radius: 50%;
        background: black;
    }
    img {
        width: 90%;
        height: auto;
        max-height: 90%;
        border-radius: 50%;
    }
    .img-container {
        width: 90%;
        height: 90%;
        border-radius: 50%;

        overflow: hidden;
    }

}

#nav-mobile {
    .avatar {
        padding: 50px;
        .username {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 50px;
            text-align: center;
            padding-right: 20px;
            padding-left: 20px;
            overflow: hidden;
        }
    }
}
nav {
    .avatar {
        float: right;
        position: relative;
        height: 56px;
        width: 56px;

        @media only screen and (min-width: 601px){
            height: 64px;
            width: 64px;
        }
        a {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
            border-radius: 50%;
            &:hover {
                background: white;
                opacity: 0.3;
            }
        }
        .border {
            border-radius: 50%;
            position: absolute;
            background: black;
            height: 85%;
            width: 85%;
            top: 7.5%;
            left: 7.5%;
            right: 7.5%;
            bottom: 7.5%;
            z-index: 0;
        }
        img {
            border-radius: 50%;
            position: absolute;
            height: 84%;
            width: 84%;
            top: 8%;
            left: 8%;
            right: 8%;
            bottom: 8%;
            z-index: 1;
        }
    }
}
