table {
    th {
        font-weight: 600;
    }
}
.card {
    form {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
.search-field {
    .btn {
        margin-top: 1rem;
    }
}
.album-creator {
    .summary {
        margin-bottom: 1rem;
    }
}
