body {
    background: bisque;
}
table {
    th {
        font-weight: 600;
    }
}

.album-creator {
    form {
        padding-top: 50px;
        padding-bottom: 50px;
    }

}
.album-summary {
    .summary {
        margin-bottom: 1rem;
    }
    .btn-floating {
        position: absolute;
        right: 2rem;
        bottom: 3rem;
    }
}
