<div class="card album-creator">
  <div class="row card-content">
    <h1>New Album</h1>

    <ul tabs reload="allTabContentLoaded">
      <li class="tab ">
        <a href="#tab-search" class="active">Search</a>
      </li>
      <li class="tab ">
        <a href="#tab-manual">Create</a>
      </li>
    </ul>

    <!-- Search from MusicBrainz -->
    <div id="tab-search">

      <div ng-show="!mb_album">
        <form class="search-field" ng-submit="search(search_term)">

          <div class="row">
            <div class="input-field col s9">
              <i class="material-icons prefix">search</i>
              <input id="search" ng-model="search_term" type="text"/>
              <label for="search">Search Album</label>
            </div>
            <div class="input-field col s3">
              <input class="waves-effect waves-light btn"
                     type="submit" value="Search"/>
            </div>
          </div>
          <ul class="collection" ng-if="search_results">
            <a class="collection-item"
               ng-repeat="release in search_results"
               ng-class="active = mb_album.id == release.id"
               ng-click="select_search_result(release)">
              {{release.title}} by {{release['artist-credit'][0].artist.name}}
            </a>
          </ul>
        </form>
      </div>

      <div ng-if="mb_album">
        <album-summary album="mb_album"></album-summary>

        <a class="waves-effect waves-light btn"
           ng-click="unselect_search_result()">
          Unselect Album
        </a>
        <a class="waves-effect waves-light btn"
           ng-click="save_brainz_album()">
          Save Album
        </a>
      </div>
    </div>

    <!-- Create manually -->
    <div id="tab-manual">
      <div ng-include="'/static/partials/admin/forms/album_form.html'"></div>
    </div>
  </div>
</div>
