<div class="row card profile-display">
  <div class="card-content">

    <div ng-if="!backup" class="row">
      <div class="col s3 avatar">
        <img ng-src="{{conf.img_url + profile.thumb}}">
      </div>
      <div class="col s9">
        <a ng-if="enable_edit" ng-click="open_edit()"
           class="btn-floating btn-large waves-effect waves-light red">
          <i class="material-icons">edit</i>
        </a>
        <h3>{{profile.username}}</h3>
        <p>{{profile.bio}}</p>
        <p class="roles" ng-repeat="role in profile.roles">
          {{role}}<font ng-show="!$last">,</font>
        </p>
      </div>
    </div>

    <div ng-if="backup">
      <div ng-include="'/static/partials/admin/forms/profile_form.html'"></div>
      <div class="btn-controls">
        <input class="waves-effect waves-light btn" ng-click="cancel_changes()"
               type="submit" value="Cancel Changes"/>
        <input class="waves-effect waves-light btn" ng-click="save_changes()"
               type="submit" value="Save Changes"/>
      </div>
    </div>
  </div>
</div>
